@charset "UTF-8";
$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import './../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss';
@import './util';

%screen {
    left: 340px;
    top: 91px;
    width: 320px;
    height: 418px;
}

.preview {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    background-color: #ccc;
    border-radius: 10px;
}

.review-bg {
    @extend %screen;
    background-color: #999;
}

.preview-stage {
    left: 100px;
    top: 91px;
    width: 800px;
    height: 418px;
    border: solid 1px rgba(255, 0, 0, 0.5);
}

.preview-still {
    @extend %screen;
}

.preview-textPanel {
    
}

.preview-effect {
    @extend %screen;
}

.preview-effect_white { background-color: #fff; }
.preview-effect_black { background-color: #000; }