@charset "UTF-8";
$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import './../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss';
@import './util';

%screen {
    left: 340px;
    top: 91px;
    width: 320px;
    height: 418px;
    background-size: 320px 418px;
}

.preview {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    background-color: #ccc;
    border-radius: 10px;
}

.review-bg {
    @extend %screen;
    background-color: #999;
}

.preview-stage {
    left: 100px;
    top: 91px;
    width: 800px;
    height: 418px;
    border: solid 1px rgba(255, 0, 0, 0.5);
}

.character {
    top: -70px;
    left: 225px;
    
    img {
        position: absolute;
        left: -65px;
        width: 450px;
    }
}

.preview-still {
    @extend %screen;
}

.preview-word {
    top: 380px;
    left: 350px;
}

.preview-word-label {
    width: 64px;
    height: 20px;
    padding: 0 10px;
    color: #5f4823;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    word-wrap: normal;

    &[data-type="USER"]    { background-color: rgba(255, 206, 222, 0.8); } 
    &[data-type="CHARA"],
    &[data-type="UNKNOEN"] { background-color: rgba(211, 245, 255, 0.8); }
    &[data-type="CUSTOM"]  { background-color: rgba(255, 248, 184, 0.8); }
    &[data-type="NONE"]    { background-color: transparent; color: transparent; }
}

.preview-word-text {
    width: 300px;
    height: 80px;
    padding: 8px;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.8);
    font-size: 14px;
    line-height: 24px;
}



.preview-effect {
    @extend %screen;

    &[data-type="BLACK"] { background-color: rgb(0, 0, 0); } 
    &[data-type="WHITE"] { background-color: rgb(255, 255, 255); } 
}

.preview-effect_white { background-color: #fff; }
.preview-effect_black { background-color: #000; }