@charset "UTF-8";

$spaceL: 40px;
$spaceM: 20px;
$spaceS: 10px;


// Layout
.absolute { position: absolute; }
.relative { position: relative; }

.flex { display: flex; }


.mtl { margin-top: $spaceL; }
.mtm { margin-top: $spaceM; }
.mts { margin-top: $spaceS; }